#score{
    padding-top: 50px;
    margin-bottom: -90px;
}

#score__text{
    font-weight: 600;
    font-size: 40px;
    padding: 0px 0px !important;
}

@media only screen and (max-width: 768px) {
    #score{
        margin-bottom: 0px;
    }
    #score__text{
        font-weight: 600;
        font-size: 14px;
        
    }
}