.cards-panel{
    padding: 80px 40px;
    padding-top: 140px;
}
.card-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cards-wrapper:focus {
    outline: 0;
}
.card {
    background: white;
    width: 200px;
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
}
.card__image {
    position: relative;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}
.card__unit-stats {
    background: #111111;
    font-weight: 700;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card__unit-stats a{
    color: #ffe81f;
}
.card__unit-stats a:hover{
    color: #ffe81f;
}
.card__unit-stats .one-third {
    border-right: 1px solid #333333;
    width: 50%;
    float: left;
    padding: 10px 15px;
}
.card__unit-stats .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}
.card__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.card__unit-stats .no-border {
    border-right: none;
} 
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
  
